@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.carousel-outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -7.5px;
  padding: 15px;
  background: linear-gradient(185deg, #f5f5f5 63%, #fff 63%);
}

.sponsors-div {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  marquee {
    overflow: hidden;
    white-space: nowrap;
  }
}
.partner-image {
  margin: 0;
  max-width: 200px;
  max-height: 100px;
  padding: 0.5rem 0;
  margin: 0.5rem;
}

.carousel-container {
  width: 60%;
  height: 42rem;
  display: block;
  border: solid #707070 0.1rem;
  background-color: #fff;
  position: relative;
  padding: 2rem 0 1rem;
  -webkit-box-shadow: 10px 10px 10px 1px rgba(189,185,189,0.73);
-moz-box-shadow: 10px 10px 10px 1px rgba(189,185,189,0.73);
box-shadow: 10px 10px 10px 1px rgba(189,185,189,0.73);
}

.heading {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  span {
    color: #32318a;
  }
}
.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px;
  height: 90%;
  margin: 0 3rem;
  overflow: hidden;
  img {
    height: 3rem;
    width: 3rem;
  }
}

.carousel-data {
  display: block;
  padding: 1rem;
  margin: auto;
  font-size: 1.2rem;
  height: 100%;

  p {
    text-align: left;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 70%;
  }
  &.carousel-animate {
    animation-name: fadeInOut;
    animation-duration: 0.5s;
  }
}

.data-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
  text-align: center;
  height: 20%;
  position: relative;
  bottom: 5px;

  img {
    display: block;
    margin: auto;
    border: solid #707070 0.1rem;
    padding: 0.25rem;
    height: 75px;
    width: 75px;
    border-radius: 100px;
  }

  h4 {
    font-weight: 500;
  }
}

.left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #61dbcb;
  border: none;
  position: absolute;
  left: calc(0% - 2.75rem);
  top: 50%;
  transform: translateY(-50%);
  img {
    width: 5rem;
    height: 5rem;
  }
}

.left-button:hover {
  cursor: pointer;
  background-color: #42a598;
}

.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dbcb;
  border: none;
  position: absolute;
  right: -2.75rem;
  top: 50%;
  transform: translateY(-50%);
  img {
    width: 5rem;
    height: 5rem;
  }
}

.right-button:hover {
  cursor: pointer;
  background-color: #42a598;
}

@media only screen and (max-width: 1000px) {
  .carousel-container {
    height: 50rem;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-outer {
    margin-top: -7.5px;
  }

  .carousel-container {
    width: 90%;
    height: 55rem;
  }

  .carousel-data {
    height: 90%;
    margin-top: 4rem;
    p {
      justify-content: center;
      text-align: center;
      padding: 0 5px;
    }
  }
  .carousel-inner {
    padding: 10px 0;
    height: 93%;
  }

  .left-button {
    left: calc(0% - 2rem);
    img {
      height: 4rem;
      width: 4rem;
    }
  }

  .right-button {
    right: -2rem;
    img {
      height: 4rem;
      width: 4rem;
    }
  }
}

@media only screen and (max-width: 449px) {
  .carousel-data {
    padding: 0;
  }
  .carousel-container {
    height: 75rem;
  }
  .sponsors-div {
    width: 90%;
  }
}

