@import 'variables';

.row {
  display: flex;
}

.left-col-btns {
  width: 30%;
  align-items: center;
}

.left-col-img {
  width: 35%;
}

.left-col-img img {
  width: 100%;
  margin-bottom: 0;
}

.landing-container {
  padding-top: 10vh;
  padding-right: 3vw;
  padding-left: 3vw;
}

.welcome-container {
  min-height: 80vh;
  padding: 0 50px 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 50px;
  // background-image: url('/images/welcome-container-bg.png');
  background-size: cover;
  background-position-y: center;
}

.welcome-left {
  max-width: 50%;
}

.welcome-title {
  font-weight: 800;
  font-size: 3.75rem;
  color: black;
  text-align: left;
}

.landing-text {
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.welcome-right {
  max-width: 60%;
  display: flex;
  justify-content: center;
}

.welcome-right img {
  max-width: 100%;
  float: right;
}

.sign-in-buttons {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.sign-in-buttons button {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  border-radius: 1000px;
  border: none;
  width: 220px;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 1px 1px 3px rgb(90, 90, 90);
}

.sign-in-buttons button:hover {
  cursor: pointer;
}

.sign-in-buttons button:focus {
  outline: none;
}

.email-button:hover {
  background-color: #ce0707;
}
.google-button:hover {
  opacity: 0.7;
}
.github-button:hover {
  background-color: #3f3f3f;
}

.sign-in-buttons button img {
  width: 10%;
  height: 100%;
}

.sign-in-buttons button p {
  font-size: small;
}

.email-button {
  background-color: #eb0606;
  color: white;
}

.github-button {
  background-color: black;
  color: white;
}

.google-button {
  background:#30D5FF;
  color: white;
}

.home-right-col {
  width: 35%;
}

.home-right-col img {
  width: 100%;
}

/* ABOUT SECTION */

.about-us-container {
  // margin-top: -10px;
  padding: 60px 20px;
  display: flex;
  background-color: #5356A5;
   color: #fff;
}

.about-left-col {
  max-width: 35%;
}

.about-left-col img {
  max-width: 100%;
  padding-left: 50px;
}

.about-right-col {
  max-width: 60%;
  text-align: justify;
  margin: -30px auto 0 auto;
}

.about-right-col h1 {
  font-weight: 800;
  font-size: 3.75rem;
  margin-bottom: 30px;
}

.about-right-col p {
  font-weight: 250;
  font-size: 1.25rem;
}

/* HOW OSC WORKS SECTION */

.how-container {
  margin-top: -5px;
  padding: 10vh 50px 5vh 50px;
  background: #5356A5;
  color: #fff;
  text-align: justify;
}

.how-top-row {
  display: flex;
}

.how-top-left-col {
  max-width: 60%;
}

.how-top-left-col h1 {
  font-weight: 800;
  font-size: 3.75rem;
  padding-bottom: 50px;
}

.how-top-left-col p {
  text-align: justify;
  font-weight: 250;
  font-size: 1.25rem;
}

.how-top-right-col {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.how-top-right-col img {
  max-width: 80%;
  float: right;
}

.how-bottom-row {
  padding: 80px 40px 60px 40px;
  justify-content: space-evenly;
  display: flex;
  text-align: center;
}

.how-card {
  max-width: 20%;
  border-radius: 15%;
  box-shadow: $box-shadow-light;
  @include padding-all(40px, 20px, 40px, 20px);
}

.how-card-img-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
}

.how-card img {
  max-width: 35px;
}

.how-card h3 {
  font-size: 1.5rem;
  color: #1583cc;
  padding-bottom: 30px;
}

.how-card p {
  font-weight: 200;
}


/* Help Us Section  */
.help-us-outer {
  padding: 0;
  background-color:#F5F5F5;
}
.help-us-container {
  padding: 60px 20px;
  display: flex;
  background-color: #5356A5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  color: #fff;
}

.help-us-left-col {
  max-width: 35%;
}

.help-us-left-col img {
  max-width: 100%;
  padding-left: 50px;
}

.help-us-right-col {
  max-width: 60%;
  text-align: justify;
  margin: -30px auto 0 auto;
}

.help-us-right-col h1 {
  font-weight: 800;
  font-size: 3.75rem;
  margin-bottom: 30px;
}

.help-us-right-col p {
  width: 75%;
  font-weight: 250;
  font-size: 1.25rem;
}

.donateButton {
  margin:0.5rem auto;
  border-radius: 10rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  color: #fff;
  background:#55C2B4;
}

.donateButton:hover{
  cursor: pointer;
 background:#5fcfc0 ;
}

.donateButton:disabled{
    background-color: #6d6d6d;
    cursor: initial;
  }
/* Adding media querries */
@media screen and (max-width: 560px) {
  .welcome-right {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 990px) {
  .logo {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column-reverse;
  }

  .links a {
    font-weight: 400;
    display: block;
  }

  .header-profile-dropdown {
    right: unset;
    left: 0;
  }

  .landing-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row div {
    width: 100%;
  }

  .home-right-col img {
    width: 70%;
    margin-top: 100px;
    padding-right: 0;
    margin-right: 15%;
    margin-left: 15%;
  }

  .landing-text {
    font-size: 1rem;

    text-align: center;
  }

  .welcome-title {
    width: 100%;
    text-align: left;
    padding-top: 0;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.2rem;
    text-align: center;
  }
  .welcome-container {
    flex-direction: column-reverse;
    padding: 0 15px 0 15px;
    background-size: contain;
     background-repeat: no-repeat;
     background-position-y: bottom;
  }
  .welcome-left {
    max-width: 100%;
  }

  .welcome-right {
    max-width: 60%;
  }

  .sign-in-buttons {
    flex-direction: column;
    padding-left: 0;
  }

  .email-section {
    max-width: 100%;
  }

  .email-section h3 {
    text-align: center;
  }

  .about-us-container {
    margin-top: -5px;
    flex-direction: column;
  }
  .about-us-container div {
    max-width: 100%;
    text-align: center;
  }

  .about-left-col {
    padding-bottom: 50px;

    margin-right: auto;
    margin-left: auto;
  }

  .about-left-col img {
    padding-left: 0;
  }

  .about-right-col h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }

  .about-right-col p {
    text-align: justify;
    font-size: 1rem;
  }

  .how-container {
    padding: 20px 15px;
  }

  .how-top-row {
    text-align: center;
    flex-direction: column-reverse;
  }

  .how-top-row div {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .how-top-left-col h1 {
    line-height: 50px;
    font-size: 3.5rem;
  }

  .how-top-right-col {
    margin-bottom: 50px;
  }

  .how-bottom-row {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .how-card {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
  }


  .help-us-container {
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .help-us-container div {
    max-width: 100%;
    text-align: center;
  }

  .help-us-left-col {
    padding-bottom: 50px;

    margin-right: auto;
    margin-left: auto;
  }

  .help-us-left-col img {
    padding-left: 0;
  }

  .help-us-right-col h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }

  .help-us-right-col p {
    width: 100%;
    text-align: justify;
    font-size: 1.25rem;
  }

}
