.container {
  display: flex;
  flex-direction: row;
  margin: 30px 15px;
  justify-content: space-evenly;
}

.left-col {
  width: 700%;
  border-radius: 10px;
  margin-right: 20px;
  float: right;
}

.sidenav {
  background-color: #F7F7F7;
  border-radius: 10px;
  width: 300px;
  position: absolute;
  height: 80%;
  overflow: auto;
}

.content {
  margin-left: 300px;
  padding: 1px 26px;
}

.right-col {
  border-radius: 10px;
  margin: 0 20px;
}

.tabs {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.tab,
.active-tab {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}

.active-tab {
  color: black;
  background: rgb(0,202,202);
  background: linear-gradient(90deg, rgba(0,202,202,1) 10%, rgba(255,255,255,1) 10%);
}

.tab:hover,
.active-tab:hover {
  /* background-color: #fafafa; */
  box-shadow: 0 8px 10px #ececec;
  transition-duration: 0.2s;
}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
    margin: 20px 10px;
  }

  .sidenav {
    background-color: white;
    border-radius: 0;
    width: 100%;
    position: relative;
    height: 20%;
    overflow: auto;
  }

  .left-col {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    margin: 0;
    padding: 5px;
  }

  .tabs {
    flex-direction: row;
    align-items: center;
  }

  .tab,
  .active-tab {
    border: 1px solid #1d1d1d;
    font-size: 0.7rem;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    box-shadow: 0 2px 8px #ececec;
  }
  .active-tab {
    color: white;
    background: rgba(0,202,202,1);
    background: linear-gradient(90deg, rgba(0,202,202,1) 10%, rgba(0,201,202,1) 10%);
  }
}
