@import 'variables';

.subscribe-container {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  img {
    display: block;
    max-width: 500px;
    max-height: 300px;
    margin: auto;
  }

  background-image: url('/SVG/footer-bg.svg');
}

.subscribe-inner {
  display: block;
  position: relative;
  padding:2rem 1rem;
  background-color: #5356A5;
  width: 75%;
  border-radius: 2rem;
  margin: auto;
  text-align: center;

  h2{
    color: #fafafa;
    margin: 1rem 0;
  }


  img {
    max-height: 70% !important;
    position: absolute;
    left:5%;
    top: -50%;

  }
}

.subscribe-input{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 1rem;
  width: 50%;
  align-items: center;

  input {
    flex-grow:2;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 2rem 0 0 2rem;
  }

  .subscribe-button{
    border-radius: 0 2rem 2rem 0;
    color: #fafafa;
    background-color: #55C2B4;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
  }
  .subscribe-button:hover{
    cursor: pointer;
    background-color: #42A598;
  }
}

@media only screen and (max-width:1100px) {
  .subscribe-inner {
    .subscribe-input {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 800px) {

  .subscribe-container {
    img {
      max-width: 400px;
      max-height: 300px;
    }
  }
}

@media only screen and (max-width: 650px) {

  .subscribe-container {
    img {
      max-width: 200px;
      max-height: 300px;
    }

    .subscribe-inner {
      width: 90%;
      padding: 2rem 0.25rem;
    }

    .subscribe-input {
      width: 100%;
    }
  }
}

@media only screen and (max-width:400px) {
  .subscribe-inner {
    img {
      max-width: 50%;
      top: -35%;
    }
  }
  .subscribe-input {
    input {
      font-size: 1rem;
    }
    .subscribe-button{
      font-size: 1rem;
    }
  }
}
